.projects{
  padding-bottom: 20px;
  padding-top: 30px;
  margin-bottom: 0;
  background-color: #F5EDED;
}

.project-heading h2{
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.project-heading p{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.project-images{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.project-article{
  display: block;
  flex-direction: column;
  flex-basis: 31%;
  left: 30px;
  position: relative;
  margin-bottom: 50px;
  
   transition: transform 0.3s ease;
}



.project-article img{
  width: 350px;
  height: 350px;
  padding: 5px 5px 10px 5px;
  border-radius: 25px;
   border: solid 2px #211832;
}

.project-des{
  position: absolute;
  width: 65%;
  height: fit-content;
  z-index: 10;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border: solid 2px #211832;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  left: 8%;
  right: auto;
  top: 60%;
  bottom: auto;
  background-color: #ffffff;
  border-radius: 25px;
}

.project-des h3{
  font-size: 20px;
  font-weight: 450;
  color: #211832;
  margin: 5px;
  padding: 5px 5px;
}

.project-des p{
  display: flex;
  text-align: left;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 5px;
}



/*========== Projects Component Base ==========*/
.projects {
  margin-top: 20px;
  margin-bottom: 90px;
}

.project-heading h2 {
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}

.project-heading p {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.project-images {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.project-article {
  display: block;
  flex-direction: column;
  flex-basis: 31%;
  position: relative;
  margin-bottom: 50px;
}

.project-article img {
  width: 350px;
  height: 350px;
  padding: 5px;
  border-radius: 25px;
}

.project-des {
  position: absolute;
  width: 65%;
  height: fit-content;
  z-index: 10;
  border: solid 2px #211832;
  padding: 10px;
  left: 8%;
  top: 60%;
  background-color: #ffffff;
  border-radius: 25px;
}

.project-des h3 {
  font-size: 20px;
  font-weight: 450;
  color: #211832;
  margin: 5px;
  padding: 5px;
}

.project-des p {
  display: flex;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

/*========== Mobile Responsive CSS ==========*/

/* Extra small devices */
@media screen and (max-width: 340px) {
  .project-heading h2 {
    font-size: 28px;
    margin-top: 20px;
  }

  .project-heading p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .project-images {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .project-article {
    flex-basis: 100%;
    max-width: 220px;
    margin-bottom: 80px;
    left: 0;
  }

  .project-article img {
    width: 100%;
    height: auto;
  }

  .project-des {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    padding: 8px;
  }

  .project-des h3 {
    font-size: 16px;
  }

  .project-des p {
    font-size: 12px;
  }
}

/* Small devices */
@media screen and (max-width: 480px) {
  .project-heading h2 {
    font-size: 32px;
  }

  .project-heading p {
    font-size: 16px;
  }

  .project-article {
    max-width: 260px;
    height: 260px;
  }

  .project-article img {
    width: 200px;
    height: 200px;
  }

  .project-des {
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    top: 57%;
  }

  .project-des h3 {
    font-size: 18px;
  }

  .project-des p {
    font-size: 14px;
  }
}

/* Medium devices / tablets */
@media screen and (max-width: 768px) {
  .project-heading h2 {
    font-size: 36px;
  }

  .project-heading p {
    font-size: 18px;
  }

  .project-images {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .project-article {
    flex-basis: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    left: 0;
  }

  .project-article img {
    width: 325px;
    height: 325px;
  }

  .project-des {
    width: 90%;
    left: 49%;
    transform: translateX(-50%);
    top: 58%;
    
  }

  .project-des h3 {
    font-size: 20px;
  }

  .project-des p {
    font-size: 15px;
  }
}
