.project-heading h2{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

.project-heading p{
    margin-top: 10px;
    text-align: center;
    
    font-size: 20px;
    line-height: 1.6;
}

.img-section {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* allows wrapping */
    gap: 20px;
}

.pro-image {
    flex-basis: 31%; /* 3 per row on desktop */
    position: relative;
    min-width: 250px;
}

.pro-image img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
}

.caption1 {
    border-radius: 25px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(6, 4, 24, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-weight: 500;
}

.pro-image:hover .caption1 {
    opacity: 1;
}

/* Tablet */
@media (max-width: 1024px) {
    .pro-image {
        flex-basis: 45%; /* 2 per row */
    }
}

/* Mobile */
@media (max-width: 768px) {
    .pro-image {
        flex-basis: 100%; /* 1 per row */
        max-width: 400px;
    }
}
