.hero-container {
  position: relative;
  width: calc(100% - 50px);
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 25px 20px 25px;
  border-radius: 25px;
}

/* Videos stacked */
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease-in-out;
}

/* Optional: blend the second video */
.video1 {
  z-index: 1;
}

.video2 {
  z-index: 1;
   /*opacity: 0.5; adjust transparency for blending effect */
}

/* Gradient overlay */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(rgba(6, 4, 24, 0.7), rgba(12, 10, 27, 0.7));
}

/* Text content */
.hero-text {
  position: relative;
  z-index: 4;
  text-align: center;
  width: 100%;
  max-width: 800px;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  animation: spring-rtl-in 2s linear;
}

.hero-text h1 {
  font-size: 45px;
  font-weight: 600;
}

.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  font-size: 30px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  font-weight: bold;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.6s ease-in-out;
}

.btn:hover ~ .btn1 {
  background-color: #fff;
  color: #000;
  transition: 0.6s ease-in-out;
}

.btn1:hover {
  font-weight: bold;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.6s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-container {
    width: calc(100% - 20px);
    margin: 90px 10px 20px 10px;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }
}

/* scrolling animations */
@keyframes spring-rtl-in {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
