.contact{
    margin: 20px auto 0;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;
    background-image: linear-gradient(rgba(6, 4, 24, 0.7), rgba(12, 10, 27, 0.7)), url('../../assets/Hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.contact h2{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.contact p{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    font-size: 20px;
    color: #fff;
}

.contact-header{
    margin: 50px auto;
    
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* aligns items to top */
    gap: 50px; /* spacing between info and form */
    flex-wrap: wrap; /* makes it responsive */
}

.contact-info{
    flex-basis: 30%; /* more space for info */
    min-width: 250px; /* responsive minimum */
    }
/*glassmorphism*/
.contact-info{
    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px; 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

.contact-info h2, .contact-form h2{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}

.contact-info ul{
    margin-top: 30px;
    padding-bottom: 20px;
}
.contact-info ul li{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    list-style: none;
    gap: 15px;
    margin-top: 60px;
    font-weight: 300;
    text-align: justify;
}



.contact-info ul li img{
    margin-right: 15px;
    width: 30px;
    height: auto;
}

.contact-form{
    flex-basis: 65%; /* takes remaining space */
    min-width: 300px;
     background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px; 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

.contact-form form label{
    font-weight: 300;
}

.contact-form form input, 
.contact-form form textarea{
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6); 
    font-weight: 150; 
}

.contact-form form textarea{
    min-height: 140px;
    resize: vertical;
}

.contact-form button.btn1{
    justify-content: center;
    align-items: center;
    background:transparent;
    border:2px solid #fff;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-left: 50%;
    transform: translateX(-50%);
}

.contact-form button.btn1:hover{
    background-color: #fff;
    color: #313647;
}

/* Responsive */
@media (max-width: 992px){
    .contact-header{
        flex-direction: column;
        align-items: center;
    }
    .contact-info, .contact-form{
        flex-basis: 100%;
        min-width: 100%;
    }
    .contact-info ul li{
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    .contact h2{
        font-size: 32px;
    }
    .contact p{
        font-size: 16px;
    }
    .contact-info ul li {
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        margin-right: auto;
        margin-left: auto;
  }

    .contact-info ul li img{
        width: 25px;
        margin-right: 15px;
    }
    .contact-form form input, 
    .contact-form form textarea{
        font-size: 14px;
        padding: 10px 12px;
    }
    .contact-form button.btn1{
        padding: 10px 20px;
    }

    .contact-info h2, .contact-form h2{
    font-size: 18px;
}
}
