nav {
  margin: 20px 23px 40px 23px;
  width: calc(100% - 50px);
  color: white;
  display: flex;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 2%;
  right: 2%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border-radius: 15px;
  background-color: #211832;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width:150px;
  height: auto;
  border: solid 1px #0f0f0f;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  background-color: #ffff;
}

.logo:hover {
  animation: pulse 2s infinite;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  transition: all 0.5 ease;
}

nav ul li a:hover{
  font-weight: bold;
  text-shadow: 4px 4px 10px rgba(228, 219, 219, 0.3);
}

/* Mobile view */
@media screen and (max-width: 768px) {

  /* Hidden state with animation ability */
  nav ul {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    width: 100%;
   /* glass morphism*/
   background: rgba(33, 24, 50, 0.4); /* semi-transparent purple */
  backdrop-filter: blur(10px);       /* creates the glass effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  border-radius: 15px;               /* rounded corners */
  /* */
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    z-index: 1000;
  }

  /* Visible animated state */
  nav ul.active {
    max-height: 300px;
    opacity: 1;
    padding: 10px 0;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
    text-align: center;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .nav-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .logo {
    width:150px;
    height: auto;
    
  }
}
