/* Container for footer and bottom text */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #211832;
  color: #f2f2f2;
}



/* Main footer section */
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 0;
  padding: 30px 20px;
}

.footerx {
  display: flex;
  flex-basis: 31%;
  justify-content: center;
}

.footer-1 {
  margin-left: 25px;
}

.footer-2 {
  margin-right: 25px;
}

.footer-1, .footer-2, .footer-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-1 h2, .footer-2 h2, .footer-3 h2 {
  margin-bottom: 15px;
}

.footer-1 h2 {
  width: 150px;
  height: auto;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color: #ffff;
}

.footer-2 ul, .footer-3 ul {
  list-style-type: none;
}

.footer-2 ul {
  padding-left: 7px;
  padding-bottom: 10px;
}

.footer-3 ul {
  padding-left: 10px;
  padding-bottom: 10px;
}

.footer-2 ul li, .footer-3 ul li {
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.footer-2 ul li a:hover, .footer-3 ul li a:hover {
  font-weight: bold;
}

/* Footer bottom section */
.footer-bottom {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #444;
  font-size: 14px;
  background-color: #1b1528;
}

.footer-bottom p{
  text-align: center;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerx {
    flex-basis: 100%;
    margin-bottom: 25px;
    justify-content: center;
  }

  .footer-1, .footer-2, .footer-3 {
    margin: 0;
    max-width: 90%;
  }

  .footer-2 h2 {
    white-space: nowrap;
  }

  .footer-1 h2, .footer-2 h2, .footer-3 h2 {
    font-size: 20px;
  }

  .footer-1 p {
    font-size: 14px;
    line-height: 1.6;
  }

  .footer-2 ul li a, .footer-3 ul li a {
    font-size: 14px;
    white-space: nowrap;
  }

  .footer-1 h2 img{
    align-items: center;
  }

  .foot_logo{
    text-align: center;
    margin-left: auto;
    margin-right:auto ;
  }
}

/* Extra small devices (phones) */
@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-1 h2, .footer-2 h2, .footer-3 h2 {
    font-size: 18px;
  }

  .footer-1 p {
    font-size: 13px;
  }

  .footer-2 ul li a, .footer-3 ul li a {
    font-size: 13px;
  }
}
