.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
    padding: 30px auto;
    background-color: #211832;
    color: #f2f2f2;
}

.footer-1 p{
    max-width: 400px;
    margin: 10px auto;
}

.footer-1{
    margin: 20px auto;
    
}

.footer-1 h2{
    margin: 20px auto;
}

.footer-1 ul li {
    list-style: none;
    margin: 10px auto;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column; /* stack columns vertically */
        align-items: center;
        text-align: center;
    }

    .footer-1 {
        margin: 15px 0;
    }

    .footer-1 p {
        max-width: 90%;
    }
}