.Industries{
    padding-top: 25px;
    padding-bottom: 25px;
}

.project-heading h2{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

.project-heading p{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cards-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-direction: column;;
    align-items: center;
    flex-basis: 31%;
    margin-bottom: 25px;
    position: relative;
}

.cards img{
    width: 325px;
    height: 325px;
    object-fit: cover;
    border-radius: 25px;
}

.card-des h3{
    margin-bottom: 10px;
}

.card-des p{
    margin: 0px 10px;
}

.card-des {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 325px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    transform: (50%, 50%);
    opacity: 0;
}

.cards:hover .card-des,
.cards.show-hover .card-des { /* added class for auto hover */
    opacity: 1;
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 1024px) {
    .cards {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 768px) {
    .cards-container {
        gap: 15px;
    }
    .cards {
        flex-basis: 100%;
    }
    .project-heading h2 {
        font-size: 32px;
    }
    .project-heading p {
        font-size: 16px;
    }
}