@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 100px; /* height of your navbar */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: #F5EDED;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.btn1{
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

