@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 100px; /* height of your navbar */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: #F5EDED;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.btn1{
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

